<div class="booking-wrapper">
  <div class="form-background" ></div>
  <div class="bookings">

    <h3>Bookings (I'm a guest)</h3>
    <div class="booking-guest">
<ul class="list-unstyled">
<% @bookings_user.each do |booking| %>
<li>
  <p>Experience ID:<%= @experiences.find(booking.experience_id).id %></p>
  <p>Status:<%= booking.status%></p>
</li>
<%end%>
</ul>
</div>

<h3>Bookings (I'm a host)</h3>
<div class="booking-host">
<ul class="list-unstyled">
<% @bookings_host.each do |booking| %>
<li>
  <p>Experience ID:<%= @experiences.find(booking.experience_id).id %></p>
  <p>Status:<%= booking.status%></p>
</li>
<%end%>
</ul>
</div>
</div>
</div>
