<div class="booking-wrapper">
  <div class="form-background" ></div>
    <div class="bookings">

    <h3>Bookings (I'm a guest)</h3>
    <div class="booking-guest">
      <% @bookings_user.each do |booking| %>
        <%= render "shared/message" %>
      <%end%>
    </div>

    <h3>Bookings (I'm a host)</h3>
    <div class="booking-host">
    <% @bookings_host.each do |booking| %>
      <%= render "shared/message" %>
    <%end%>
    </div>
  </div>
</div>
