.experience-wrapper {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 32px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
}

.experience-background {
  height: calc(100vh - 70px);
  width: 100vw;
  position: fixed;
  top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.experience-container {
  margin-top: 20vh;
  padding-right: 10vw;
  padding-left: 10vw;
  z-index: 2;
}

.experience-top-section {
  background-color: white;
  opacity: 0.90;
  position: relative;
  height : 25vh;
  padding: 10px 30px;
  margin-bottom: 30px;
  box-shadow: 0 10px 22px 0 rgba(185, 189, 200, 0.3);
  border-radius: 2px;
  h1 {
    margin-top: 0px }
}

.avatar-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 35px;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}


.experience-bottom-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: white;
  opacity: 0.95;
  border-radius: 2px;
  box-shadow: 0 10px 23px 0 rgba(185, 189, 200, 0.3);
}

.experience-content {
  background-color: white;
  width: 40vw;
  height: 40vh;
  padding: 30px;
  h2 {
    margin-top: 0px
  }
}

.price {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.book-now-link{
  position: absolute;
  bottom: 30px;
}

.btn-book-now {
  // display: block;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #F0869F;
  color: #2c2d33;
  font-family: 'Roboto', sans-serif;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// #experiences{
//   padding-bottom:12vh;
// }


// #map {
//   width: 100%;
//   background-color: #CED3DC;
//   height: 500px;
//   margin-bottom: 20px;
// }




