<div class="banner">
  <div class="banner-content">
    <h1>Experiences in Lisbon</h1>
    <p>Join cool activities</p>
    <%=link_to "Check experiences", "#experiences", :class => "button-banner" %>
  </div>
</div>
<div id="experiences"> </div>
