<div class="banner">
  <div class="banner-content">
    <h1>Experience Lisbon</h1>
    <p><span id="typed-text"></span></p>
    <%=link_to "Discover", "#experiences", :class => "button-banner" %>
  </div>
</div>


