<a href="#">
  <div class="card">
      <div class="card-image" style="background-image:url(http://via.placeholder.com/450x250)"></div>
      <div class="card-body">
        <p class="card-category"> Sports </p>
        <h3 class="card-title"> Go out and play football </h3>
        <p class="card-price"> 15€</p>
      </div>
  </div>
</a>
