<div class="card">
  <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0)), url('http://via.placeholder.com/450x250');">
  <span class="card-category">Sport</span>
      <div class="card-description">
        <h2>Go play football</h2>
        <p>with locals</p>
      </div>
      <img class="card-user avatar avatar-large" src="http://via.placeholder.com/80x80">
      <a class="card-link" href="#" ></a>
  </div>
  <div class="card-footer">
    <p>15€ in Lisbon, Campolide</p>
    <div class="controls">
      <a href="#"><i class="fa fa-star"></i></a>
      <a href="#"><i class="fa fa-heart"></i></a>
      <a href="#"><i class="fa fa-share"></i></a>
    </div>
  </div>
</div>
