<% if user_signed_in? == false %>
  <%= render "shared/banner" %>
<%else%>
  <div class="margin-banner">
</div>
<%end%>

<!-- TODO:
1. Dropdown selector for category
2. button
3. sliders coloring
4. labels for sliders properly aligned
 -->

<div class="filter-box">
<div class="form-inline text-center">
  <form action="/experiences" method="get">

    <div class="form-group">
      <label for="category">Category</label>
      <input class="filter-category" type="text" id="category" name="category" placeholder="Category">
    </div>

    <div class="form-group">
      <label for="category">Duration</label>
      <input type="text" id="duration" name="duration" class="span2" value="" data-slider-min="0" data-slider-max="6" data-slider-step="0.5" data-slider-value="[0.5,5.5]"/>
    </div>

    <div class="form-group">
      <label for="category">Price</label>
      <input type="text" id="price" name="price" class="span2" value="" data-slider-min="5" data-slider-max="40" data-slider-step="1" data-slider-value="[5,35]"/>
    </div>

    <input type="submit" value="Apply filters" class="btn-book-now">
  </form>
</div>
</div>



<div id="experiences"> </div>
  <div class="row">
    <div class="card-container no-gutters">
    <% @experiences.in_groups_of(5, Experience.new) do |group| %>
        <%= group_cards_experiences(group) %>
    <%end%>
  </div>
</div>


<% content_for :after_js do  %>
  <script>
  var slider = new Slider('#duration', {});
  var slider = new Slider('#price', {});
  </script>
<% end %>
