
<div class="card-grid">
  <div class="row no-gutters">
    <% @experiences.each do |experience| %>
    <div class="col-sm-4">
      <%= render partial: "shared/card", :locals => {experience: experience}%>
    </div>
    <%end%>
  </div>
</div>
