<% if user_signed_in? == false %>
<%= render "shared/banner" %>
<%end%>
<div id="experiences"> </div>
  <div class="row">
    <div class="card-container no-gutters">
    <% @experiences.in_groups_of(5, Experience.new) do |group| %>
        <%= group_cards_experiences(group) %>
    <%end%>
  </div>
  </div>
