.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar-large {
  height: 90px;
  width: 90px;
}

.avatar-small {
  height: 40px;
  width: 40px;
  border: 1px solid white;
}

.avatar-border-turqoise {
  border: 1px solid #86E7DF;
}
