.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), image-url("lisbon-2.jpeg");
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  padding-bottom: 50px;
}

.button-banner{
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #86E7DF;
  color: #2c2d33;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    }
}
