// BUTTONS
.form-wrapper {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  justify-content: center;

}

.form-background {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)),image-url("girl.jpeg");
  filter: blur(1.25px);
  background-size: cover;
  opacity: 5px;
  height: calc(100vh - 70px);
  top: 70px;
  width: 100%;
  margin: 0px;
  z-index: -1;
  position: fixed;
}

.form-container {
  z-index: 2;
  padding: 2em;
}

.form-button {
  border-radius: 4px;
  background-color: #86E7DF;
  color: #2c2d33;
  width: 100%;
}

.form-button:hover {
  border-radius: 5px;
  background-color: #86E7DF;
  color: white;
  // font-size: 19px;
}

.form-inputs {
  color: #2c2d33;
  font-size: 18px;
}

.form-card {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 30px;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 3px;
  h1 {
     color: #2c2d33;
  text-align: center;
  }
}




