.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.nav-pills {
  a{
  color: #F0869F;
  border: 1px solid #F0869F;
}
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: white;
        background-color: #F0869F !important;
        border: 1px solid #F0869F;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: white !important;
        color: #F0869F;
;
    }

    .applycolor {
        background-color: white;
        text-decoration: none;
        color: black !important ;
    }

    .applycolor:hover {
        background-color: white;
        text-decoration: none;
        color: black !important;
    }
.message-link{
  color: black;
  &:hover {
    opacity: 0.6;
    color: black;
}
}

