.navbar-fixed{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Main navbar */
.navbar-xp {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

/* Logo */
.navbar-xp-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-xp .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #86E7DF;
}

/* Right section */
.navbar-xp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin-bottom: 0px;
  }
}

/* Basic navbar item */
.navbar-xp-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-xp-link-01 {
  color: #2c2d33;
  font-size: 18px;
  padding-right: 20px;
  border-right: 1px solid #86E7DF;
}
.navbar-xp-link-welcome {
  color: #2c2d33;
  font-size: 18px;
  padding-right: 20px;
  border-right: 1px solid #86E7DF;
  &:hover {
    text-decoration: none;
    color: #2c2d33;
    opacity: 0.8;
  }
}
.navbar-xp-link {
  color: #2c2d33;
  font-size: 18px;
}
.navbar-xp-link-name {
  color: #2c2d33;
  font-size: 18px;
}
.navbar-xp-link-01:hover {
  color: #F0869F;
  text-decoration: none;
}
.navbar-xp-link:hover {
  color: #F0869F;
  text-decoration: none;
}
/* Dropdown menu */
.navbar-xp-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-xp-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-xp-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-xp-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

// SEARCH FORM

.search-container {
  position: absolute;
  left: 17vw;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 18%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #DBDBDB;
}

.search-components {
  display: flex;
  label {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;

    // padding-right: 2%;
    color: #F0869F;
  }
}

.search-form {
  border: none;
  box-shadow: none;
  background-color: white;
  &:focus {
    outline: none !important;
  }
}








